.banner {
  background-image: url("/dist/img/sky1_banner2.jpg");
  background-size: 100% 100%;
  border-bottom: 6px solid #f8cf5a;
  height: 150px; }

.logo {
  font-size: 1.4rem;
  margin-top: 10;
  padding-left: 40px;
  position: relative;
  top: 10px; }
  .logo span {
    color: #f5f5f5;
    font-size: 1.8rem;
    font-weight: 400;
    position: absolute;
    right: 20px;
    top: 105px; }

html {
  height: 100%; }

body {
  background-color: #f5f5f5; }

a {
  text-decoration: none; }

h1,
h2,
h3 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin-top: 5px; }

.window {
  background-color: #d9d7b0;
  color: #575757;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1020px; }

.row {
  border-top: 1px solid #be9f57;
  clear: both;
  display: inline-block;
  padding: 10px 5px; }
  .row h2 {
    margin-top: 10px; }

.photo {
  float: left;
  height: auto;
  margin-right: 20px;
  width: 35%; }

.photo2 {
  float: right;
  height: auto;
  margin-left: 20px;
  width: 45%; }

.title {
  display: block;
  text-align: center; }
  .title h1 {
    font-size: 1.5em;
    line-height: 1.6;
    text-decoration: underline; }

.copyright {
  clear: both;
  color: #575757;
  font-size: .6em;
  padding-bottom: 10px;
  text-align: center; }

a {
  color: #000; }
