.banner
  background-image: url('/dist/img/sky1_banner2.jpg')
  background-size: 100% 100%
  border-bottom: 6px solid $trim
  height: 40px

.logo
  font-size: 1.4rem
  margin-top: 0
  padding-left: 40px
  position: relative
  top: 10px

  span
    color: $off-white
    font-size: 1.8rem
    font-weight: 400
    position: absolute
    right: 20px
    top: 105px
