*,
*::after,
*::before
  +box-sizing

html
  height: 100%

body
  background-color: $off-white

a
  text-decoration: none

h1,
h2,
h3
  font-family: Raleway, sans-serif
  font-weight: 700
  margin-top: 5px

.window
  background-color: $primary-background
  color: $dark-grey
  font-size: 18px
  margin: 0 auto
  max-width: 980px

.row
  border-top: 1px solid $ss-gold
  clear: both
  display: inline-block
  padding: 10px 5px
  width: 100%
  +mq-medium-up
    margin: 5px 25px

  h2
    margin-top: 10px

.photo
  float: left
  height: auto
  margin-right: 20px
  width: 40%

.photo2
  float: right
  height: auto
  margin-left: 20px
  width: 50%

.title
  display: block
  text-align: center

  h1
    font-size: 1.5em
    line-height: 1.6
    text-decoration: underline

    +mq-small-up
      font-size: 1.8em

    +mq-medium-up
      font-size: 2.2em
      text-decoration: none

    +mq-large-up
      font-size: 2.6em

.contact
  clear: both
  border-top: 1px solid $ss-gold
  padding-top: 5px
  text-align: center
